<main class="container-fluid spooky-wallpaper">
  
<div class="listing-content">

  <section class="haunted-house_desc-card">
    <img class="haunted-house_img" src="https://picsum.photos/1000/1000" alt="Image Title" />
    <div class="haunted-house_text">
      <h1 class="haunted-house_title"><span>{{place.location}}</span></h1>
      <div class="haunted-house_subtitle">{{place.state}}</div>
      <div class="haunted-house_divider"></div>
      <div class="haunted-house_description">{{place.description}}</div>
    </div>
  </section>

  <div class="d-flex justify-content-center row mb-4">
      <div class="col-md-6">
          <div class="d-flex flex-column comment-section">
              <h1>Been here? Tell us what you thought!</h1>
              <div class="post-review p-4">
                  <div class="d-flex flex-row align-items-start"><textarea id="commentText" class="form-control ml-1 shadow-none textarea"></textarea></div>
                  <div class="mt-2 text-right"><button id="commentSubmit" class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
              </div>
          </div>
         

          <h1 class="mt-4">Reviews</h1>
        <div class="d-flex flex-column">
        {{#each place.reviews as |review|}}
          <div class="review mb-4 text-justify"> 
              <img src="http://via.placeholder.com/50" alt="Profile picture" class="rounded-circle" width="40" height="40">
              <h4>{{review.user.name}}</h4> <br>
              <p class="review-content">{{review.review_content}}</p>
          </div>
        {{/each}}
        </div>
      </div>
      <div id="google-map" class="col-md-6">
      </div>
  </div>

</div>

</main>

<script src="/js/comment.js"></script>